<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
      <packageSources>
    <add key="Radzen" value="https://nuget.radzen.com/nuget" />
    <!-- Altre origini dei pacchetti possono essere elencate qui -->
  </packageSources>
</configuration>
